#formfield-form-widgets-industry_experience .object-widget-field,
#formfield-form-widgets-industry_certification .object-widget-field {
    float:left;
    clear: none;
    padding: 5px;
    width: 15%;
}

#formfield-form-widgets-industry_experience .object-widget-field input {
    width:50px;
}

#formfield-form-widgets-industry_experience .object-widget,
#formfield-form-widgets-industry_certification .object-widget {
    clear:both;
}

.dkiscm-jobview-jobsummary td.leftcol {
    background:#004953;
    color:#fff;
    width:200px;
}

th h4 { color :#fff; }

.dkiscm-jobview-jobsummary td, 
.dkiscm-jobview-jobsummary th,
.dkiscm-skilltable td,
.dkiscm-skilltable th { 
    padding: 10px 
}

.dkiscm-skilltable {
    width:100%;
}

.required-row {
   background:#98C3CA;
}

#dkiscm-levelview-skillcompetency {
    clear:both;
}

.skillbox {
    border: 1px solid #CCC;
    padding: 20px;
    height:100px;
    width:100px;
    float:left;
    margin:20px;
}

.required-skill {
    background: #eee;
}


