#formfield-form-widgets-industry_experience .object-widget-field,
#formfield-form-widgets-industry_certification .object-widget-field {
    float:left;
    clear: none;
    padding: 5px;
    width: 15%;
}

#formfield-form-widgets-industry_experience .object-widget-field input {
    width:50px;
}

#formfield-form-widgets-industry_experience .object-widget,
#formfield-form-widgets-industry_certification .object-widget {
    clear:both;
}

.dkiscm-jobview-jobsummary td.leftcol {
    background:#004953;
    color:#fff;
    width:200px;
}

th h4 { color :#fff; }

.dkiscm-jobview-jobsummary td, 
.dkiscm-jobview-jobsummary th,
.dkiscm-skilltable td,
.dkiscm-skilltable th { 
    padding: 10px 
}

.dkiscm-skilltable {
    width:100%;
}

.required-row {
   background:#98C3CA;
}

#dkiscm-levelview-skillcompetency {
    clear:both;
}

.skillbox {
    border: 1px solid #CCC;
    padding: 20px;
    height:100px;
    width:100px;
    float:left;
    margin:20px;
}

.required-skill {
    background: #eee;
}

.dkiscm-jobgrouping-table td {
    padding:10px;
    border:1px solid #fff;
}

.dkiscm-jobgrouping-table td.selected-group {
    background: #D95943;
}

.dkiscm-education-table td {
    padding:10px;
    border:1px solid #fff;
}

.dkiscm-education-table td.selected-education {
    background: #D95943;
}

.dkiscm-frontpage-box {
    width:300px;
    height:200px;
    border:1px solid #ccc;
    padding:10px;
    border-radius:5px;
    float:left;
    margin:20px;
}

.dkiscm-frontpage-wrapper {
    width:1090px;
    margin:0 auto;
}

.largebutton {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    color:#ffffff;
    font-size:30px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528009;
}.largebutton:hover {
    background-color:#77a809;
}.largebutton:active {
    position:relative;
    top:1px;
}

.dkiscm-number-column {
    width: 20px !important;
}

.dkiscm-skilltable .dkiscm-value-column {
    width:150px;
}

.dkiscm-job-information {
    border-bottom:3px solid #000;
    border-top: 3px solid #000;
    margin: 20px 0 20px 0;
    width:100%;
}

.dkiscm-job-information .left-box {
    padding: 20px;
    color:#fff;
    background-color: #7F858E;
    width:50%;
}

.dkiscm-job-information .left-box h4 {
    color:#fff;
}

.dkiscm-jobdescription {
    border-bottom:2px solid #000;
    padding:20px 10px 10px 10px;
    min-height:110px;
}

.dkiscm-jobtitles {
    padding:10px 10px 10px 10px;
}

.dkiscm-skilltable  td {
    background:#DDDEE0;
    border-color:#fff !important;
}

.dkiscm-skilltable th {
    background:#7F858E;
    color:#fff;
}

.dkiscm-job-titletable td {
    vertical-align:top;
}

.dkiscm-description-column {
    background: #BFC1C3 !important;
}

.required-row .has_value {
    background: #98C3CA;
}
